*{
  box-sizing: border-box;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
}

.aboutUs{
  font-size: 30px;
  background-color: brown;
   border-radius: 20px;
   padding: 5px;
   color: antiquewhite;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.App button{
  font-size: 40px;
  border-radius: 20px;
  padding: 10px;
}
body{
  text-align: center;background-image: linear-gradient(45deg, transparent 20%, black 25%, transparent 25%),
  linear-gradient(-45deg, transparent 20%, black 25%, transparent 25%),
  linear-gradient(-45deg, transparent 75%, black 80%, transparent 0),
  radial-gradient(darkorange 2px, transparent 0);
  background-size: 30px 30px, 30px 30px;
  background-color: darkorange;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

